.social-icon-img-size {
  height: 75px;
  width: 75px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.1s;
}

.social-icon__item {
  list-style: none;
}

.social-icon__link {
  margin: 0 20px;
  display: inline-block;
  transition: 0.1s;
}

.social-icon-img-size:hover {
  height: 100px;
  width: 100px;
}

@media (max-height: 700px), (max-width: 700px) {
  .social-icon-img-size {
    padding-top: 3px;
    height: 60px;
    width: 60px;
  }

  .social-icon-img-size:hover {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 480px) {
  .social-icon-img-size {
    padding-top: 3px;
    height: 50px;
    width: 50px;
  }

  .social-icon-img-size:hover {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 350px), (max-height: 550px) {
  .social-icon-img-size {
    height: 35px;
    width: 35px;
  }

  .social-icon-img-size:hover {
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 280px) {
  .social-icon-img-size {
    height: 35px;
    width: 35px;
  }

  .social-icon-img-size:hover {
    height: 45px;
    width: 45px;
  }
}